
<h1 style="color :rgb(99, 102, 101)"> <%=tag %></h1>
<h2 style="color: blueviolet;"><%= name %></h2>
<p> <%= para %></p>
<img src=<%=imglink %> alt="">
 <table style= "width:100%">
    <tr>
      <th>Person 1</th>
      <th>Person 2</th>
      <th>Person 3</th>
    </tr>
    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
    </tr>
    <tr>
      <td>16</td>
      <td>14</td>
      <td>10</td>
      </tr>
     
</table>